.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff006a;
}

.navbar-rose {
    background-color: #ffd4e5 !important;
}

.card {
    border: 2px solid #da14c9;
}

.card-colored {

    border: 2px solid #da14c9;
    color: #333;
}

body {
    background-color: #faf8f3;
}

.logo {
    width: 120px;
    height: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}